{% extends "base.html" %}
{% block heading%}Add Job to Schedule{% endblock heading %}
{% block home_active%}active{% endblock home_active %}
{% block content %}

<div class="container-fluid wrapper">
    <div class="form-container">
        <div class="custom-card custom-card-wide text-center animate-pop-in">
            <div class="title">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <h2 class="heading">Add a job to the schedule</h2>
                <div class="form-action">
                    <form action="" method="POST">
                        <input type="text" , name="job_no" , placeholder="Job number" , autofocus="True"><br>
                        <input type="text" , name="job_name" , placeholder="{{ job_name }}"><br>
                        <input type="text" , name="job_value" , placeholder="Job value (numbers only)"><br>
                        <input type="text" , name="job_qty" , placeholder="job_qty"><br>
                        <label>Due date:</label>
                        <input type="date" , style="width:225px" , name="due_date"><br>
                        <textarea maxlength="249" , name="notes" , style="height:100px;" placeholder="{{ notes }}"></textarea><br>
                        <div class="row">
                            <div class="col-4">
                                <input type="checkbox", style="width:50px;", name="cartons", id="cartons" {% if job.materials[0] == '1' %} checked {% endif %}>
                                <label for="cartons">Cartons sorted</label>
                            </div>
                            <div class="col-4">
                                <input type="checkbox", style="width:50px;", name="outwork", id="outwork" {% if job.materials[1] == '1' %} checked {% endif %}>
                                <label for="outwork">Outwork sorted</label>
                            </div>
                            <div class="col-4">
                                <input type="checkbox", style="width:50px;", name="other", id="other" {% if job.materials[2] == '1' %} checked {% endif %}>
                                <label for="other">Other sorted</label>
                            </div>
                        </div>
                        <button class="btn btn-light buttons" type="submit">Add Job</button><br>
                        <a class="btn btn-light buttons" href="{{ url_for('home') }}">Return Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}