{% extends "base.html" %}
{% block heading%}Post Timesheet{% endblock heading %}
{% block hide_footer %}hidden{% endblock hide_footer %}
{% block timesheet_active%}active{% endblock timesheet_active %}
{% block content %}

<div class="timesheet-page">
    <h3>Timesheet entry for {{ job.job_name }}</h3>
    <h4>Select users (Command+Click to select multiple):</h4>
    <form action="" method="POST">
        <select class="form-select timesheet-select-users" multiple name="select-users">
            {% for u in users %}
            <option value="{{ u.id }}">{{ u.name }}</option>
            {% endfor %}
        </select></br>
        <div class="row">
            <div class="col-8">
                <input type="text", id="timesheet-notes", name="notes", placeholder="Add notes">
            </div>
            <div class="col-4">
                <button class="btn btn-light" type="submit">Start Job {{ job.job_no }}</button>
            </div>
        <a class="btn btn-dark buttons" href="{{ url_for('home') }}">Return Home</a>
    </form>
</div>

{% endblock %}