{% extends "base.html" %}
{% block heading%}Edit User {{ user.name }}{% endblock heading %}
{% block content %}

    <div class="container-fluid wrapper">
        <div class="form-container">
            <div class="custom-card custom-card-wide text-center animate-pop-in">
                <div class="title">
                    <h2 class="heading">Update User Details</h2>
                    <div class="form-action">
                        <form action="" class="card_form" method="POST">

                            <div class="row">
                                <div class="col-4">
                                    <h5>Email address: </h5>
                                </div>
                                <div class="col-8">
                                    <textarea style="height:30px;", name="email", placeholder="{{ user.name }}"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <h5>New password: </h5>
                                </div>
                                <div class="col-8">
                                    <textarea style="height:30px;", name="password", placeholder="New password"></textarea>
                                </div>
                            </div>

                            <h2>Email Preferences</h2>

                            <div class="row">
                                <div class="col-7">
                                    <h5>Job entered</h5>
                                </div>
                                <div class="col-3">
                                    {% if user.name[0] == 1 %}
                                    <input type="checkbox", style="width:50px;", name="entered" checked>
                                    {% else %}
                                    <input type="checkbox", style="width:50px;", name="entered">
                                    {% endif %}
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-7">
                                    <h5>Approved to print</h5>
                                </div>
                                <div class="col-3">
                                    {% if user.name[1] == 1 %}
                                    <input type="checkbox", style="width:50px;", name="approved" checked>
                                    {% else %}
                                    <input type="checkbox", style="width:50px;", name="approved">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <h5>Dispatched</h5>
                                </div>
                                <div class="col-3">
                                    {% if user.name[2] == 1 %}
                                    <input type="checkbox", style="width:50px;", name="dispatched" checked>
                                    {% else %}
                                    <input type="checkbox", style="width:50px;", name="dispatched">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7">
                                    <h5>Delivered</h5>
                                </div>
                                <div class="col-3">
                                    {% if user.name[3] == 1 %}
                                    <input type="checkbox", style="width:50px;", name="delivered" checked>
                                    {% else %}
                                    <input type="checkbox", style="width:50px;", name="delivered">
                                    {% endif %}
                                </div>
                            </div>

                            <br>
                              <button class="btn btn-light buttons" type="submit">Submit changes</button>
                              <a class="btn btn-light buttons" href="{{ url_for('home') }}">Return Home</a><br>
                          </form>
                        </div>
                      </div>
                    </div>
        </div>
    </div>

{% endblock %}
