:root {
  --heading-color: #334257;
  --a-color: #548CA8;
  --bg-color: #FFF;
  --text-color: #334257;
  }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  }

h1 {
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 8px;
  /*background: linear-gradient(to bottom right, #2EF2C0, #D139F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #06038D;
  }

h2 {
  font-size: 1.5em;
  color: var(--heading-color);
  }

h4 {
  margin-top: 12px;
  font-size: 1.2em;
  color: var(--text-color);
  }

a {
  font-size: 1.2em;
  color: var(--a-color);
}

p {
  font-size: 1.2em;
  color: var(--text-color);
  padding: 0;
  }

th {
  font-size: 1.2em;
  color: var(--heading-color);
  }

label {
  color: var(--text-color);
  }

.container-flex {
    padding: 20px;
    }

.notes {
  font-style: italic;
  color: var(--a-color);
  margin-top: -10px;
  }

.buttons {
  margin-top: 10px;
  width: 150px;
  display: inline-block;
  }

.flashes {
  color: #384B52;
}

.add-new {
  color: var(--heading-color;
  }