{% extends "base.html" %}
{% block content %}

<div class="container-flex blue-bg">

    <h2 class="heading">Add a job to the schedule</h2>
    <hr>

    <form action="" method="POST">
        <label>Job number:</label>
        <input type="text", style="width:100px;", name="job_no">
        <label>Job name:</label>
        <input type="text", style="width:350px;" name="job_name">
        <br><br>
        <label>Due date:</label>
        <input type="date", name="due_date">
        <br><br>
        <label>Add Notes:</label>
        <br>
        <textarea maxlength="249" , style="width:625px; height:100px;", name="notes"></textarea>
        <hr>
        <button class="btn btn-dark buttons" type="submit">Add Job</button>
    </form>
    <br>
    <a href="{{ url_for('home') }}">Return home</a>
</div>

{% endblock %}