<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Job</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<div class="">

    <h1 class="heading">Add a job to the schedule</h1>

    <form action="" method="POST">
        <label>Job number:</label>
        <input type="text", name="job_no">
        <label>Job name:</label>
        <input type="text", name="job_name">
        <label>Due date:</label>
        <input type="date", name="due_date">
        <button type="submit">Add job</button>
    </form>

    <a href="{{ url_for('home') }}">Return home</a>
</div>

</body>
</html>
