<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}" sizes="180x180">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" sizes="32x32" type="image/png">
    <title>Production Schedule</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    <!-- Custom CSS -->
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/57fb702c7e.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <meta http-equiv="refresh" content="600">  <!-- forces refresh every ten minutes -->

</head>

<nav class="navbar navbar-expand-lg navbar-light nav-custom-bg">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='favicon.png') }}" alt="logo", width="60", class="d-inline-block align-text-top">
    </a>
    <h1>Stamp Production Schedule</h1>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
       {% if not logged_in: %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/new_user">New User</a>
      </li>
        <li class="nav-item">
            <a class="nav-link disabled">Admin</a>
            {% else %}
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
        {% endif %}
    </ul>


  </div>
</nav>
       {% block content %}
       {% endblock %}
</body>
<footer style="margin-top:auto;font-size:0.8em;padding-top:20px;">
    <p class="text-center text-muted border-top sig">2021 Matt Tobin, Southern Colour Print</p>
</footer>
</html>
