{% extends "base.html" %}
{% block title %}Stamp Job Dashboard{% endblock title %}
{% block heading %}Stamp Job Dashboard{% endblock heading %}
{% block home_active%}active{% endblock home_active %}
{% block hide_footer %}hidden{% endblock hide_footer %}
{% block content %}


<div class="container-fluid full-bg">
  <div class="d-flex flex-wrap">
    {% for i in all_jobs %}
    <div class="card job-card">
      <div class="title header_img aspect-box">
        <a href="/upload_img/{{ i.id }}">
          {% if i.img_name %}
          <img src="/static/uploads/{{ i.img_name }}" class="job_img">
          {% else %}
          <i class="fa fa-edit img_placeholder" aria-hidden="true"></i>
          {% endif %}
        </a>
      </div>
      <div class="details">
        <a href="/edit/{{ i.id }}" target="_blank">
          <div class="job_name">
            <h3>{{ i.job_no }} - {{ i.job_name }}</h3>
          </div>
        </a>
        <hr>
        <h4>Due date: {{ i.due_date | datefilter }}</h4>
        <a href="/status/{{ i.id }}">
          {{ i.status }}
        </a>
        <br><br>
        {% if i.notes %}
        <p>Notes: {{ i.notes }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="quote-card row mobile-hidden">
    <div class="container-flex quote-big-box col">
      <div class="row">
        <div class="col">
          <h3>Quotes To-Do List</h3>
        </div>
        <div class="col-3">
          <a class="btn btn-light add-quote" href="/add_quote">Add new quote</a>
        </div>
      </div>
      <hr />
      {% for t in to_do_quotes %}
      <div class="justify-content-between">
        <div class="row">
          <div class="col">
            <a href="/edit/{{ t.id }}">{{ t.job_name }}</a>
          </div>
          <div class="col">
            <h4>Due date: {{ t.due_date | datefilter }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <a class="btn btn-primary won" href="/complete_quote/{{ t.id }}">Done</a>
            <a class="btn btn-warning lost" href="/delete/{{ t.id }}">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="container-flex quote-big-box col">
      <div class="row">
        <div class="col">
          <h3>Outstanding Quotes</h3>
        </div>
        <div class="col-4">
          <input type="text" placeholder="Filter quotes" id="myInput" onkeyup="myFunction()">
        </div>
      </div>
      <hr />
      <div class="justify-content-between">
        <div>
          <ul id="myUL">
            {% for q in outstanding_quotes %}
            <li>
                <a href="/edit/{{ q.id }}" data-keywords="{{ q.job_name }}">{{ q.job_name }} | {{q.due_date | datefilter }}</a>
              <div class="row">
                <div class="col-3">
                  <a class="btn btn-primary won" href="/add_job/{{ q.id }}">Won</a>
                  <a class="btn btn-warning lost" href="/delete/{{ q.id }}">Lost</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
      // Search functionality
      function myFunction() {
        // Declare variables
        var input = document.getElementById('myInput'),
          filter = input.value,
          ul = document.getElementById('myUL'),
          lis = ul.getElementsByTagName('li'),
          searchTerms = filter.match(/[a-z]+/gi),
          re, index, li, a;

        if (searchTerms) {
          searchTerms = searchTerms.map(function(term) {
            return '(?=.*' + term + ')';
          });

          re = new RegExp(searchTerms.join(''), 'i');
        } else {
          re = /./;
        }

        // Loop through all list items, and hide those who don't match the search query
        for (index = 0; index < lis.length; index++) {
          li = lis[index];
          a = li.firstChild;

          if (re.test(a.innerHTML + ' ' + a.getAttribute('data-keywords'))) {
            li.style.display = '';
          } else {
            li.style.display = 'none';
          }
        }
      }
    </script>

    {% endblock %}
