{% extends "base.html" %}
{% block content %}

<div class="container-flex">

    <h3 class="heading">Editing job number {{ job.job_no }}</h3>
    <h4 class="subheading">Current due date: {{ job.due_date }}</h4>
    <h4 class="subheading">Current priority: {{ job.priority }}</h4>

    <hr>

    <form action="" method="POST">
        <label>Due date:</label>
        <input type="date", name="new_due_date", placeholder="{{ job.due_date }}">
        <label>Priority:</label>
        <input type="number", name="new_priority", placeholder="{{ job.priority }}">
        <br><br>
        <label>Add Notes:</label>
        <br>
        <textarea maxlength="249" , style="width:495px; height:100px;", name="notes", placeholder="{{ job.notes }}"></textarea>
        <hr>
        <button class="btn btn-primary" type="submit">Submit changes</button>
    </form>
    <br>
    <a href="{{ url_for('home') }}">Return home</a>
</div>

{% endblock %}
