{% extends "base.html" %}
{% block heading%}Edit Job {{ job.job_no }}{% endblock heading %}
{% block home_active%}active{% endblock home_active %}
{% block content %}

    <div class="container-fluid">
        <div class="form-container">
            <div class="custom-card custom-card-wide text-center animate-pop-in">
                <div class="title">
                    <a href="/upload_img/{{ job.id }}">
                        {% if file_exists == True %}
                       <div class="job_img" style="background-image: url(/static/uploads/{{ job.img_name }});"></div>
                        {% endif %}
                    </a>
                    <h2 class="heading">Editing job number {{ job.job_no }}</h2>
                    <div class="form-action">
                        <form action="" class="card_form" method="POST">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-3"></div>
                            </div>
                            <!--h4>Current due date: {{ job.due_date }}</h4-->
                            <input type="string", name="new_name", placeholder="{{ job.job_name }}">
                            <input type="string", name="new_value", placeholder="Value: ${{ job.priority }}">
                            <input type="date", name="new_due_date", placeholder="{{ job.due_date }}"><br>
                            <select name="status", style="width:300px;">
                                <option value="curr">{{ job.status }}</option>
                                <option value="proof">On proof</option>
                                <option value="approved">Proof approved</option>
                                <option value="plates">Plates made</option>
                                <option value="printed">Printed</option>
                                <option value="finishing">Finishing</option>
                                <option value="check_pack">Check & pack</option>
                                <option value="dispatched">Dispatched</option>
                            </select><br>
                                {% if job.notes %}
                            <textarea maxlength="249", style="height:100px;", name="notes", placeholder="{{ job.notes }}"></textarea>
                                {% else %}
                                <textarea maxlength="249", style="height:100px;", name="notes", placeholder="Add notes"></textarea>
                                {% endif %}
                        <br>
                            <button class="btn btn-light buttons" type="submit">Submit changes</button>
                            <a class="btn btn-light buttons" href="{{ url_for('home') }}">Return Home</a><br>
                            <a class="btn btn-danger buttons" href="/delete/{{ job.id }}">Delete Job</a>
                    </form>
                </div>
            </div></div>
        </div>
    </div>

{% endblock %}
