{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container-flex blue-bg">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Job No. (Sort)</th>
        <th scope="col">Job Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Approved?</th>
        <th scope="col">Plates Made?</th>
        <th scope="col">Complete Job</th>
    </tr>
    </thead>

    <tbody>
    {% for job in all_jobs %}
    {% if job.approved == True and job.plates_made == True %}
    <tr style="background-color: #EEEEEE;">
    {% else %}
    <tr>
        {% endif %}
        <td>
            <a href="/priority_up/{{ job.id }}"><i class="fas fa-chevron-up"></i></a>
            <a href="/edit/{{ job.id }}"> {{ job.job_no }} </a>
            <a href="/priority_down/{{ job.id }}"><i class="fas fa-chevron-down"></i></a>
        </td>
        <td><p>{{ job.job_name }}</p>
            {% if job.notes %}
            <p class="notes">  Notes: {{ job.notes }}</p>
            {% endif %}
        </td>
        <td><p>{{ job.due_date | datefilter }}</p></td>
        <td><a href="approved/{{ job.id }}">{{ job.approved }}</a></td>
        <td><a href="plates/{{ job.id }}">{{ job.plates_made }}</a></td>
        <td><a href="/complete/{{ job.id }}">Click to Complete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-dark buttons add-new" href="{{ url_for('add') }}">Add new job</a>
</div>
{% endblock %}
