{% extends "base.html" %}
{% block content %}

<div class="box container-flex">
    <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="name" placeholder="Name" required="required"/>
        <input type="password" name="password" placeholder="Password" required="required"/>
        <br><br>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>

{% endblock %}
