{% extends "base.html" %}
{% block heading%}Post Timesheet{% endblock heading %}
{% block hide_footer %}hidden{% endblock hide_footer %}
{% block timesheet_active%}active{% endblock timesheet_active %}
{% block content %}

<div class="bg">
<div class="card timesheet-page" id="timesheet-card">
    <h1 class="heading">Clock off active job</h1>
    <div>
    <h4>Active jobs:</h4>
    {% for u in users %}
        {% if u.active_job %}
        <li>{{ u.name }}: {{ u.active_job }}</li>
        {% endif %}
    {% endfor %}
    </div>
    </hr></br>
    <div>
    <h4>Select users to clock off (Command+Click to select multiple):</h4>
    <form action="" method="POST">
        <select class="form-select timesheet-select-users" multiple name="select-users">
            {% for u in users %}
            <option value="{{ u.id }}">{{ u.name }}</option>
            {% endfor %}
        </select></br>
        <div class="row">
            <div class="col-8">
                <input type="text", id="timesheet-notes", name="notes", placeholder="Add notes">
            </div>
            <div class="col-4">
                <button class="btn btn-light" type="submit">Clock off</button>
            </div>
    </form>
    </div>
</div>
</div>

{% endblock %}
